@import './themes/modern.css';

/* Base styles that apply to all themes */
:root {
  color-scheme: light dark;
}

/* Theme class utilities */
.theme-modern {
  color-scheme: dark;
  /* background-color: var(--color-bg-primary); */
  color: var(--color-text-primary);
}
